<div class="row mt-2">
    <div class="col-md-8 offset-md-2">
        <div class="form-group">
            <input type="text" [(ngModel)]="searchText" placeholder="Enter the name to search" class="form-control" (keyup)="search()">
        </div>
    </div>
 
</div>
<div class="row">
    <div class="col-md-10 offset-md-1">
        <div *ngIf="empList.length == 0;then noData else showData"></div>
        <ng-template #noData>
            <p class="lead" *ngIf="searchText">There no records found for given search data</p>
        </ng-template>
        <ng-template #showData>
            <div *ngFor="let emp of empList">
                <div class="card mt-2">
                    <div class="card-header">
                     {{emp.id}} 
                    </div>
                    <div class="card-body">
                      <h5 class="card-title">{{emp.name}}</h5>
                      <p class="card-text">
                            {{emp.gender}} - {{emp.dept}} - {{emp.salary}}
                      </p>
                     
                    </div>
                  </div>

            </div>
        </ng-template>
        
    </div>
</div>
